<h2>Players</h2>

<div *ngFor = "let player of players">

  <h3>
    <a 
      [title]="player.name + ' details' "
      [routerLink]="['/players', player.id]">
      {{ player.name }}
    </a>
    <p *ngIf = "player.nickname">
      Nickname: {{player.nickname}} <br>
      Description: {{ player.description }} <br>
      Age: {{player.age}} <br>
      Position: {{player.position}} <br>
      2021/22 Club Appearances: {{player.games}} <br>
      2021/22 Club Goals: {{player.goals}}
    </p>
    
    <p *ngIf = "!player.nickname">
      Description: {{ player.description }} <br>
      Age: {{player.age}} <br>
      Position: {{player.position}} <br>
      2021/22 Club Appearances: {{player.games}} <br>
      2021/22 Club Goals: {{player.goals}}
    </p> 
  </h3>   
</div>
